<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h2>UzPDF</h2>
<div>
    <form class="form" action="registration" method="post">
        <h2 class="headind">Registration</h2>

        <input name="email" for="email" placeholder="Email" class="email" type="email"/>
        <br>

        <br/>
        <input name="password" for="password" placeholder="Password" class="password" type="password"/>

        <br/>
        <p name="text" class="text">Do you have an account? <a name="log" class="log" href="signin">Log in</a></p>

        <br/>
        <button class="button">Register</button>

    </form>
</div>
</body>
</html>