<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
</head>
<body>
<h2>UzPDF</h2>
<div>
    <form class="form" action="signin" method="get">
        <h2 class="headind">Sign In</h2>

        <input name="email" for="email" placeholder="Email" class="email" type="email"/>
        <br>

        <br/>
        <input name="password" for="password" placeholder="Password" class="password" type="password"/>

        <br/>
        <button class="button">Login</button>

    </form>
</div>
</body>
</html>